/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
  position: relative;
  height: 800px;
  overflow: hidden;
  border-bottom: 1px solid #fafafa;
}
.main-banner .banner-sistema-web {
  position: relative;
}
.main-banner .banner-sistema-web img {
  position: absolute;
}
.main-banner .banner-sistema-web img:nth-child(1) {
  top: -246px;
  right: 0;
  z-index: -5;
}
.main-banner .banner-sistema-web img:nth-child(2) {
  top: -226px;
  width: 10.5%;
  right: 236px;
}
.main-banner .banner-sistema-web img:nth-child(3) {
  right: 5%;
  z-index: 1;
  top: -96px;
  width: 20%;
}
.main-banner .banner-sistema-web img:nth-child(4) {
  left: 65%;
  top: -74px;
  z-index: 2;
  width: 20%;
}
.main-banner .banner-sistema-web img:nth-child(5) {
  left: 12%;
  top: 50px;
  z-index: 2;
  width: 36%;
}
.main-banner .banner-sistema-web img:nth-child(6) {
  left: 11.4%;
  top: -93px;
  width: 4%;
}
.main-banner .banner-sistema-web img:nth-child(7) {
  left: 51%;
  top: 65px;
  z-index: 2;
  width: 31%;
}
.main-banner .banner-sistema-web img:nth-child(8) {
  left: 80.6%;
  top: -3px;
  z-index: 4;
  width: 6%;
}
.main-banner .banner-sistema-web img:nth-child(9) {
  left: 211px;
  top: 117px;
  width: 12%;
  z-index: 7;
}
.main-banner .banner-sistema-web img:nth-child(10) {
  right: 53.5%;
  top: 172px;
  z-index: 9;
  width: 8%;
}
.main-banner .banner-image img:nth-child(11) {
  left: 31.5%;
  top: 164px;
  width: 6%;
  z-index: 10;
}
.main-banner .banner-sistema-web img:nth-child(12) {
  top: -184px;
  right: 62px;
  width: 61%;
  z-index: -3;
}
.main-banner .banner-sistema-web img:nth-child(13) {
  left: 4%;
  top: -98px;
  z-index: 18;
  width: 55%;
}
.main-banner .banner-sistema-web img:nth-child(14) {
  left: 43%;
  bottom: 210px;
  z-index: 17;
  width: 55%;
}
.main-banner .banner-sistema-web img:nth-child(15) {
  left: 76%;
  bottom: -241px;
  z-index: 17;
  width: 30%;
}
.main-banner .banner-sistema-web img:nth-child(16) {
  top: -178px;
  width: 10.5%;
  right: 311px;
}
.main-banner .banner-sistema-web img:last-child {
  display: none;
}
.main-banner-content h1 {
  font-size: 72px;
  color: #024873;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 20px 0;
}
.main-banner-content p {
  font-size: 18px;
  color: #404142;
  font-weight: 500;
  margin: 0 0 0 0;
}
.banner-sistema-web-titulo {
  font-size: 160px;
  color: #f9f8fc;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 30%;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  .main-banner {
    height: 100%;
    padding-top: 142px;
    padding-bottom: 440px;
  }
  .main-banner .banner-sistema-web img:nth-child(1) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(2) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(3) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(4) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(5) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(6) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(7) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(8) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(9) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(10) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(11) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(12) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(13) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(14) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(15) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(16) {
    display: none;
  }
  .main-banner .banner-sistema-web img:last-child {
    display: block;
  }
  .main-banner-content h1 {
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  .main-banner-content p {
    font-size: 14px;
  }
  .main-banner-content .banner-btn {
    margin-top: 25px;
  }
  .main-banner-content .banner-btn .popup-youtube {
    margin-left: 14px;
  }
	
	.banner-sistema-web-titulo {
		font-size: 70px;
		left: 0;
		text-align: center;
	}
	
	
}