/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
  position: relative;
  height: 800px;
  overflow: hidden;
  border-bottom: 1px solid #fafafa;
}

.main-banner .banner-sistema-web {
  position: relative;
}

.main-banner .banner-sistema-web img {
  position: absolute;
}

.main-banner .banner-sistema-web img:nth-child(1) {
	top: -246px;
	right: 0;
	z-index: -2;
}

.main-banner .banner-sistema-web img:nth-child(2) {
    top: -13px;
    width: 43.5%;
    right: 265px;
    z-index: 2;
}

.main-banner .banner-sistema-web img:nth-child(3) {
	right: 75%;
    z-index: 3;
    top: -34px;
    width: 24%;
}

.main-banner .banner-sistema-web img:nth-child(4) {
	left: 20%;
    top: 77px;
    z-index: 2;
    width: 80%;
}

.main-banner .banner-sistema-web img:nth-child(5) {
	left: 5%;
    top: -125px;
    z-index: 2;
    width: 13%;
}

.main-banner .banner-sistema-web img:nth-child(6) {
	left: 2.4%;
    top: -203px;
    width: 30%;
}

.main-banner .banner-sistema-web img:nth-child(7) {
	left: 45%;
    top: -2px;
    z-index: 3;
    width: 11%;
}

.main-banner .banner-sistema-web img:nth-child(8) {
	left: 22%;
    top: -184px;
    z-index: -1;
    width: 65%;
}

.main-banner .banner-sistema-web img:nth-child(9) {
	left: 391px;
    top: -192px;
    width: 17%;
    z-index: 2;
}

.main-banner .banner-sistema-web img:nth-child(10) {
	right: 50.5%;
    top: -107px;
    z-index: 2;
    width: 31%;
}

.main-banner .banner-sistema-web img:nth-child(11) {
	left: 58%;
    bottom: -114px;
    top: -126px;
    z-index: 2;
    width: 31.5%;
}
.main-banner .banner-sistema-web img:nth-child(12) {
	top: 20px;
    width: 25%;
    right: 80px;
}
.main-banner .banner-sistema-web img:nth-child(13) {
	left: 77%;
    top: 253px;
    z-index: 2;
    width: 24%;

}
.main-banner .banner-sistema-web img:nth-child(14) {
	left: 49%;
    width: 50%;
    bottom: 208px;
    z-index: 2;


}

.main-banner .banner-sistema-web img:last-child {
  display: none;
}

.main-banner-content h1 {
  font-size: 72px;
  color: #024873;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 20px 0;
}

.main-banner-content p {
  font-size: 18px;
  color: #404142;
  font-weight: 500;
  margin: 0 0 0 0;
}

.banner-sistema-web-titulo {
   font-size: 160px;
    color: #f9f8fc;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30%;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}


@media only screen and (max-width: 767px) {
  .main-banner {
    height: 100%;
    padding-top: 142px;
    padding-bottom: 440px;
  }
  .main-banner .banner-sistema-web img:nth-child(1) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(2) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(3) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(4) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(5) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(6) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(7) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(8) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(9) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(10) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(11) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(12) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(13) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(14) {
    display: none;
  }
  .main-banner .banner-sistema-web img:last-child {
    display: block;
  }
  .main-banner-content h1 {
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  .main-banner-content p {
    font-size: 14px;
  }
  .main-banner-content .banner-btn {
    margin-top: 25px;
  }
  .main-banner-content .banner-btn .popup-youtube {
    margin-left: 14px;
  }
.banner-sistema-web-titulo {
	font-size: 70px;
	left: 0;
	text-align: center;
}
}
