/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
  position: relative;
  height: 800px;
  overflow: hidden;
  border-bottom: 1px solid #fafafa;
}

.main-banner .banner-sistema-web {
  position: relative;
}

.main-banner .banner-sistema-web img {
  position: absolute;
}

.main-banner .banner-sistema-web img:nth-child(1) {
	top: -246px;
	right: 0;
	z-index: -2;
}

.main-banner .banner-sistema-web img:nth-child(2) {
    top: -158px;
    width: 14.5%;
    right: 355px;
}

.main-banner .banner-sistema-web img:nth-child(3) {
    right: 8%;
    z-index: -2;
    top: -66px;
    width: 88%;
}

.main-banner .banner-sistema-web img:nth-child(4) {
	left: 12%;
    top: 141px;
    z-index: 2;
    width: 16%;
}

.main-banner .banner-sistema-web img:nth-child(5) {
	left: 35%;
    top: -129px;
    z-index: 2;
    width: 17%;
}

.main-banner .banner-sistema-web img:nth-child(6) {
	left: 3.4%;
    top: -27px;
    width: 30%;
}

.main-banner .banner-sistema-web img:nth-child(7) {
	left: 49%;
    top: -170px;
    z-index: -1;
    width: 43%;
}

.main-banner .banner-sistema-web img:nth-child(8) {
	left: 29%;
    top: 131px;
    z-index: 1;
    width: 29%;
}

.main-banner .banner-sistema-web img:nth-child(9) {
	left: 329px;
    top: 144px;
    width: 29%;
    z-index: 2;
}

.main-banner .banner-sistema-web img:nth-child(10) {
    right: 9.5%;
    top: -113px;
    z-index: 9;
    width: 12%;
}

.main-banner .banner-sistema-web img:nth-child(11) {
	left: 63%;
    bottom: -114px;
    top: 0px;
    z-index: 17;
    width: 33%;
}
.main-banner .banner-sistema-web img:nth-child(12) {
	top: -235px;
    width: 49%;
    right: 9px;
}
.main-banner .banner-sistema-web img:nth-child(13) {
	left: 62%;
    top: 249px;
    z-index: 2;
    width: 25%;
}

.main-banner .banner-sistema-web img:last-child {
  display: none;
}

.main-banner-content h1 {
  font-size: 72px;
  color: #024873;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 20px 0;
}

.main-banner-content p {
  font-size: 18px;
  color: #404142;
  font-weight: 500;
  margin: 0 0 0 0;
}

.banner-sistema-web-titulo {
   font-size: 160px;
    color: #f9f8fc;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30%;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

@media only screen and (max-width: 767px) {
  .main-banner {
    height: 100%;
    padding-top: 142px;
    padding-bottom: 440px;
  }
  .main-banner .banner-sistema-web img:nth-child(1) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(2) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(3) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(4) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(5) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(6) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(7) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(8) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(9) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(10) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(11) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(12) {
    display: none;
  }
  .main-banner .banner-sistema-web img:nth-child(13) {
    display: none;
  }
  .main-banner .banner-sistema-web img:last-child {
	display: block;
	left: 0;
	top: 0;
	bottom: 0px;
  }
  .main-banner-content h1 {
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  .main-banner-content p {
    font-size: 14px;
  }
  .main-banner-content .banner-btn {
    margin-top: 25px;
  }
  .main-banner-content .banner-btn .popup-youtube {
    margin-left: 14px;
  }
	.banner-sistema-web-titulo {
		font-size: 51px;
		left: 0;
		text-align: center;
		bottom: 36px;
	}
	
	.services-details-desc ul{
		text-align: justify;
	}
}
