@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 40px;
  }
  .section-title span {
    font-size: 13px;
  }
  .section-title h3 {
    font-size: 22px;
    margin: 8px 0 0 0;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .default-btn-one {
    padding: 8px 20px;
    font-size: 14px;
  }
  .navbar-area {
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-area.is-sticky {
    padding-top: 25px;
    padding-bottom: 25px;
    top: -5px;
  }
  .mean-container a.meanmenu-reveal {
    padding-top: 0;
  }
  .shape-img1 {
    display: none;
  }
  .shape-img2 {
    display: none;
  }
  .shape-img3 {
    display: none;
  }
  .shape-img4 {
    display: none;
  }
  .shape-img5 {
    display: none;
  }
  .shape-img6 {
    display: none;
  }
  .shape-img7 {
    display: none;
  }
  .shape-img8 {
    display: none;
  }
  .shape-img9 {
    display: none;
  }
  .shape-img10 {
    display: none;
  }
  .main-banner {
    height: 100%;
    padding-top: 142px;
    padding-bottom: 440px;
  }
  .main-banner .banner-image img:nth-child(1) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(2) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(3) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(4) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(5) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(6) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(7) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(8) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(9) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(10) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(11) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(12) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(13) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(14) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(15) {
	display: none;
  }
  .main-banner .banner-image img:last-child {
    display: block;
  }
  .main-banner-content h1 {
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  .main-banner-content p {
    font-size: 14px;
  }
  .main-banner-content .banner-btn {
    margin-top: 25px;
  }
  .main-banner-content .banner-btn .popup-youtube {
    margin-left: 14px;
  }
  .banner-image {
    margin-top: 35px;
  }
  .banner-bg-text {
    font-size: 130px;
    bottom: -50px;
    right: 0;
    left: 0;
    text-align: center;
  }
  .features-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .col-lg-7 .col-lg-6:nth-child(3) .single-features-item {
    margin-top: -40px;
    margin-bottom: 30px;
  }
  .col-lg-7 .col-lg-6:nth-child(2) .single-features-item {
    margin-top: 0;
  }
  .col-lg-7 .col-lg-6:nth-child(2) .single-features-item {
    margin-top: 0;
    margin-bottom: 75px;
  }
  .features-content-area span {
    font-size: 13px;
  }
  .features-content-area h3 {
    font-size: 25px;
    margin: 10px 0 25px 0;
  }
  .features-content-area .features-btn {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .single-features-item {
    padding: 25px 20px;
  }
  .about-section {
    padding-bottom: 50px;
  }
  .about-area-content {
    margin-top: 30px;
  }
  .about-area-content span {
    font-size: 13px;
  }
  .about-area-content h3 {
    font-size: 25px;
    margin: 10px 0 25px 0;
  }
  .about-area-content strong {
    font-size: 15px;
  }
  .about-area-content p {
    margin: 12px 0 0 0;
  }
  .single-fun-facts {
    margin-top: 20px;
    text-align: center;
  }
  .single-fun-facts h3 {
    font-size: 25px;
  }
  .single-fun-facts h3 .sign-icon {
    font-size: 25px;
  }
  .single-fun-facts p {
    margin: 6px 0 0 0;
    font-size: 14px;
  }
  .services-section {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .single-services-box h3 {
    font-size: 18px;
  }
  .choose-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .choose-content-area span {
    font-size: 13px;
  }
  .choose-content-area h3 {
    font-size: 22px;
    margin: 10px 0 20px 0;
  }
  .choose-content-area .choose-btn {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .tab-section {
    padding-bottom: 50px;
  }
  .boosting-list-tab .tabs li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 48%;
    max-width: 46%;
    padding-top: 10px;
  }
  .boosting-list-tab .tabs li a {
    font-size: 15px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
  }
  .boosting-list-tab .tabs li a span {
    display: block;
    margin-top: 4px;
    font-size: 12px;
  }
  .boosting-list-tab .tabs li a i {
    font-size: 30px;
  }
  .boosting-list-tab .tabs li.bg-eff7e9 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-fff8f0 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-ecfaf7 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-f2f0fb {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-c5ebf9 {
    background: unset;
  }
  .boosting-list-tab .tab_content .tabs_item .content h2 {
    margin: 30px 0 10px 0;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-text-content {
    margin-top: 25px;
    padding-left: 45px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-text-content i::before {
    font-size: 30px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-shape {
    width: 110px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-btn {
    margin-top: 20px;
  }
  .project-section {
    padding-bottom: 20px;
  }
  .filter-menu {
    margin-bottom: 30px;
  }
  .filter-menu li {
    font-size: 14px;
    margin-right: 18px;
  }
  .single-project-box .project-hover-content h3 {
    font-size: 14px;
  }
  .team-item-area {
    margin-bottom: 30px;
  }
  .team-item-area .team-content {
    padding-left: 0;
  }
  .team-section {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .testimonial-content-area span {
    font-size: 13px;
  }
  .testimonial-content-area h3 {
    font-size: 22px;
    margin: 10px 0 20px 0;
  }
  .testimonial-slides {
    position: relative;
  }
  .testimonial-slides .testimonial-single-item {
    margin-top: 100px;
  }
  .testimonial-slides.owl-theme .owl-dots {
    position: relative;
    right: 0;
    left: 0;
  }
  .testimonial-slides.owl-theme .owl-nav {
    margin-top: 0;
  }
  .analysis-section {
    padding-bottom: 50px;
  }
  .analysis-area-content {
    margin-top: 30px;
  }
  .analysis-area-content span {
    font-size: 13px;
  }
  .analysis-area-content h3 {
    font-size: 22px;
    margin: 10px 0 20px 0;
  }
  .contactForm {
    margin-top: 10px;
  }
  .blog-section {
    padding-bottom: 20px;
  }
  .blog-item {
    margin-bottom: 30px;
  }
  .blog-item .single-blog-item .blog-content h3 {
    font-size: 18px;
  }
  .partner-section {
    padding-bottom: 50px;
  }
  .subscribe-content {
    text-align: center;
    margin-bottom: 30px;
  }
  .subscribe-content .sub-title {
    font-size: 14px;
  }
  .newsletter-form {
    text-align: center;
  }
  .newsletter-form button {
    position: relative;
    margin-top: 30px;
    margin-bottom: -8px;
  }
  .footer-area .footer-social {
    margin-bottom: 20px;
  }
  .footer-area .footer-social i {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
  .footer-area .footer-social i::before {
    font-size: 15px;
  }
  .footer-heading {
    margin-bottom: 15px;
  }
  .footer-heading h3 {
    font-size: 20px;
  }
  .footer-item-area .footer-heading {
    margin-bottom: 15px;
  }
  .footer-item-area .footer-heading h3 {
    font-size: 20px;
  }
  .home-banner-two {
    height: 100%;
    padding-top: 130px;
    padding-bottom: 60px;
  }
  .home-banner-two .main-banner-content h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  .home-banner-two .main-banner-content p {
    font-size: 15px;
  }
  .home-banner-two .main-banner-content .banner-btn {
    margin-top: 30px;
  }
  .home-banner-two .main-banner-content .banner-btn .popup-youtube {
    font-size: 14px;
    margin-left: 14px;
  }
  .home-banner-two .banner-img-wrapper .banner-img-1 {
    display: none;
  }
  .home-banner-two .banner-img-wrapper .banner-img-2 {
    display: none;
  }
  .home-banner-two .banner-form {
    padding: 40px 20px;
    margin-top: 30px;
  }
  .home-banner-two .banner-form form .btn {
    padding: 10px 40px;
  }
  .partner-title {
    margin-bottom: 30px;
  }
  .partner-title h3 {
    font-size: 18px;
  }
  .features-area {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .features-area .features-title {
    margin-bottom: 30px;
  }
  .features-area .features-title span {
    font-size: 13px;
  }
  .features-area .features-title h3 {
    font-size: 25px;
  }
  .features-area .single-features-item {
    padding: 30px 20px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-f6f5fb {
    margin-top: 0px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-f6f5fb .pricing-features {
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .tab-content .tabs-item .single-pricing-box.bg-ed0678 {
    margin-top: 30px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-ed0678 .pricing-features {
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .tab-content .tabs-item .single-pricing-box.bg-edfbf8 {
    margin-top: 30px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-edfbf8 .pricing-features {
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .portfolio-section {
    padding-bottom: 20px;
  }
  .client-slides .testimonial-single-item .testimonial-content-text .icon {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .client-section {
    padding-bottom: 50px;
  }
  .faq-area-content span {
    font-size: 13px;
  }
  .faq-area-content h3 {
    font-size: 26px;
  }
  .faq-section {
    padding-bottom: 50px;
  }
  .subscribe-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .subscribe-section .subscribe-content {
    margin-bottom: 0;
  }
  .subscribe-section .subscribe-content .sub-title {
    margin-bottom: 8px;
    font-size: 15px;
  }
  .subscribe-section .subscribe-content h2 {
    font-size: 25px;
  }
  .subscribe-section .newsletter-form button {
    position: relative;
    margin-top: 0;
  }
  .single-portfolio-box .portfolio-hover-content {
    padding: 25px 20px;
  }
  .contact-box {
    margin-bottom: 30px;
  }
  .contact-text {
    margin-top: 0;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area ul {
    text-align: center;
    margin-top: 10px;
  }
  .services-details-overview {
    margin-bottom: 0;
  }
  .services-details-overview .services-details-desc h3 {
    font-size: 20px;
  }
  .services-details-image img {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .projects-details-desc .project-details-info .single-info-box {
    -ms-flex: unset;
    -webkit-box-flex: unset;
    flex: unset;
    max-width: unset;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 16px;
  }
  .pagination-area .page-numbers {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  .blog-details-desc .article-content h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
  }
  .blog-details-desc .article-footer {
    text-align: center;
  }
  .blog-details-desc .article-footer .article-tags {
    -ms-flex: unset;
    -webkit-box-flex: unset;
    flex: unset;
    max-width: unset;
    margin-bottom: 20px;
  }
  .blog-details-desc .article-footer .article-share {
    -ms-flex: unset;
    -webkit-box-flex: unset;
    flex: unset;
    max-width: unset;
  }
  blockquote, .blockquote {
    padding: 24px !important;
  }
  blockquote p, .blockquote p {
    font-size: 16px !important;
  }
  .comments-area {
    margin-bottom: 30px;
  }
  .comments-area .comment-respond .form-submit input {
    padding: 10px 30px;
    font-size: 14px;
  }
  .team-page-section {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .woocommerce-result-count {
    margin-bottom: 16px;
  }
  .product-details-desc h3 {
    margin-top: 30px;
  }
  .product-details-desc .product-add-to-cart .default-btn {
    margin-top: 25px;
  }
  .product-details-desc .custom-payment-options .payment-methods a img {
    width: 35px;
  }
  .related-products {
    margin-top: 50px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .default-btn {
    display: none;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-right: 0;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
    position: relative;
    top: 6px;
  }
  .cart-table table thead tr th {
    padding: 0 35px 15px;
    font-size: 14px;
  }
  .text-right {
    text-align: center !important;
    margin-top: 25px;
  }
  .order-details .title {
    font-size: 20px;
    margin-top: 30px;
  }
  .faq-image {
    margin-top: 30px;
  }
  .coming-soon-area {
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .coming-soon-content h1 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .coming-soon-content #timer div {
    margin-bottom: 10px;
  }
  .page-title-area {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .page-title-content h2 {
    font-size: 30px;
  }
  .partner-area {
    background-color: #f1f1f1ad;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact-area #msgSubmit {
    font-size: 20px;
  }
  .contact-area .list-unstyled {
    font-size: 13px;
  }
  .contactForms #contactForm #msgSubmit {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-features-item h3 {
    font-size: 18px;
  }
  .col-lg-7 .col-lg-6:nth-child(2) .single-features-item {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .col-lg-7 .col-lg-6:nth-child(3) .single-features-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  .single-services-box {
    padding: 25px 16px;
  }
  .single-services-box h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .boosting-list-tab .tabs li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 48%;
    padding-top: 10px;
  }
  .footer-item-area .footer-heading {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .footer-area .footer-social {
    margin-bottom: 20px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-ed0678 {
    padding: 50px 40px;
    margin-top: 0;
  }
  .tab-content .tabs-item .single-pricing-box.bg-f6f5fb {
    padding: 50px 40px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-edfbf8 {
    padding: 50px 40px;
  }
  .portfolio-image img {
    width: 100%;
  }
  .copyright-area {
    text-align: left;
  }
  .article-footer {
    text-align: center;
  }
  .article-footer .article-share {
    padding-left: 50px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .default-btn {
    display: block;
  }
  .text-right {
    text-align: center !important;
    margin-top: 0;
  }
  .main-banner {
    height: 100%;
    padding-top: 142px;
    padding-bottom: 640px;
  }
  .copyright-area {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    margin-bottom: 40px;
  }
  .section-title span {
    font-size: 13px;
  }
  .section-title h3 {
    font-size: 26px;
    margin: 8px 0 0 0;
  }
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .default-btn-one {
    padding: 10px 30px;
    font-size: 15px;
  }
  .navbar-area {
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-area.is-sticky {
    padding-top: 25px;
    padding-bottom: 25px;
    top: -5px;
  }
  .mean-container a.meanmenu-reveal {
    padding-top: 0;
  }
  .shape-img1 {
    display: none;
  }
  .shape-img2 {
    display: none;
  }
  .shape-img3 {
    display: none;
  }
  .shape-img4 {
    display: none;
  }
  .shape-img5 {
    display: none;
  }
  .shape-img6 {
    display: none;
  }
  .shape-img7 {
    display: none;
  }
  .shape-img8 {
    display: none;
  }
  .shape-img9 {
    display: none;
  }
  .shape-img10 {
    display: none;
  }
  .main-banner {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 650px;
  }
  .main-banner .banner-image img:nth-child(1) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(2) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(3) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(4) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(5) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(6) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(7) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(8) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(9) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(10) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(11) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(12) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(13) {
    display: none;
  }
  .main-banner .banner-image img:nth-child(14) {
    display: none;
  }
  .main-banner .banner-image img:last-child {
    display: block;
    padding-left: 95px;
  }
  .main-banner-content {
    text-align: center;
  }
  .main-banner-content h1 {
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  .main-banner-content p {
    font-size: 14px;
  }
  .main-banner-content .banner-btn {
    margin-top: 25px;
  }
  .main-banner-content .banner-btn .popup-youtube {
    margin-left: 16px;
  }
  .banner-image {
    margin-top: 35px;
    text-align: center;
  }
  .banner-bg-text {
    font-size: 130px;
    bottom: -50px;
    right: 0;
    left: 0;
    text-align: center;
  }
  .features-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .features-content-area h3 {
    margin: 10px 0 25px 0;
    font-size: 26px;
  }
  .features-content-area .features-btn {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .about-image {
    text-align: center;
  }
  .about-area-content {
    margin-top: 40px;
  }
  .about-area-content h3 {
    margin: 10px 0 25px 0;
    font-size: 26px;
  }
  .about-section {
    padding-bottom: 70px;
  }
  .single-fun-facts {
    text-align: center;
  }
  .single-fun-facts h3 {
    font-size: 25px;
  }
  .single-fun-facts h3 .sign-icon {
    font-size: 25px;
  }
  .services-section {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #f6f5fb;
  }
  .choose-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .choose-content-area h3 {
    margin: 10px 0 25px 0;
    max-width: 700px;
    font-size: 26px;
  }
  .choose-content-area .choose-btn {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .choose-image {
    text-align: center;
  }
  .tab-section {
    padding-bottom: 70px;
  }
  .boosting-list-tab .tabs li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 48%;
    max-width: 48%;
    padding-top: 10px;
  }
  .boosting-list-tab .tabs li a {
    font-size: 15px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
  }
  .boosting-list-tab .tabs li a span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
  }
  .boosting-list-tab .tabs li a i {
    font-size: 30px;
  }
  .boosting-list-tab .tabs li.bg-eff7e9 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-fff8f0 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-ecfaf7 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-f2f0fb {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-c5ebf9 {
    background: unset;
  }
  .boosting-list-tab .tab_content .tabs_item .content h2 {
    margin: 30px 0 10px 0;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-text-content {
    margin-top: 25px;
    padding-left: 45px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-text-content i::before {
    font-size: 30px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-shape {
    width: 110px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-btn {
    margin-top: 20px;
  }
  .boosting-list-tab .tab_content .tab-image {
    text-align: center;
  }
  .single-project-box .project-hover-content {
    padding: 25px 18px;
  }
  .project-section {
    padding-bottom: 40px;
  }
  .team-section {
    padding-bottom: 40px;
    padding-top: 70px;
  }
  .team-item-area {
    margin-bottom: 30px;
  }
  .testimonial-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .testimonial-content-area h3 {
    margin: 10px 0 25px 0;
    font-size: 26px;
  }
  .testimonial-slides .testimonial-single-item {
    margin-top: 100px;
  }
  .testimonial-slides.owl-theme .owl-dots {
    position: relative;
    right: 0;
    left: 0;
  }
  .testimonial-slides.owl-theme .owl-nav {
    margin-top: 0;
  }
  .analysis-image {
    text-align: center;
  }
  .analysis-section {
    padding-bottom: 70px;
  }
  .analysis-area-content {
    margin-top: 40px;
  }
  .analysis-area-content h3 {
    margin: 10px 0 25px 0;
    font-size: 26px;
  }
  .blog-section {
    padding-bottom: 40px;
  }
  .blog-item {
    margin-bottom: 30px;
  }
  .partner-section {
    padding-bottom: 70px;
  }
  .subscribe-area {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .newsletter-form button {
    padding: 0 18px;
  }
  .pl-5, .px-5 {
    padding-right: 3rem !important;
    padding-left: 0 !important;
  }
  .footer-item-area .footer-heading {
    margin-bottom: 16px;
  }
  .footer-item-area .footer-heading h3 {
    font-size: 24px;
  }
  .footer-heading {
    margin-bottom: 16px;
  }
  .footer-heading h3 {
    font-size: 24px;
  }
  .home-banner-two {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .home-banner-two .main-banner-content h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  .home-banner-two .main-banner-content p {
    font-size: 15px;
  }
  .home-banner-two .main-banner-content .banner-btn {
    margin-top: 30px;
  }
  .home-banner-two .banner-img-wrapper .banner-img-1 {
    display: none;
  }
  .home-banner-two .banner-img-wrapper .banner-img-2 {
    display: none;
  }
  .home-banner-two .banner-form {
    padding: 30px 30px;
  }
  .home-banner-two .banner-form form .btn {
    margin-top: 10px;
  }
  .partner-title {
    margin-bottom: 30px;
  }
  .partner-title h3 {
    font-size: 18px;
  }
  .features-area {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .features-area .features-title {
    margin-bottom: 30px;
  }
  .features-area .features-title span {
    font-size: 13px;
  }
  .features-area .features-title h3 {
    font-size: 25px;
  }
  .features-area .single-features-item {
    padding: 30px 20px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-f6f5fb {
    margin-top: 0px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-f6f5fb .pricing-features {
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .tab-content .tabs-item .single-pricing-box.bg-ed0678 .pricing-features {
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .tab-content .tabs-item .single-pricing-box.bg-edfbf8 {
    margin-top: 30px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-edfbf8 .pricing-features {
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .portfolio-section {
    padding-bottom: 40px;
  }
  .client-slides .testimonial-single-item .testimonial-content-text .icon {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .client-section {
    padding-bottom: 70px;
  }
  .faq-area-content span {
    font-size: 13px;
  }
  .faq-area-content h3 {
    font-size: 26px;
  }
  .faq-section {
    padding-bottom: 70px;
  }
  .subscribe-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .subscribe-section .subscribe-content {
    margin-bottom: 0;
  }
  .subscribe-section .subscribe-content .sub-title {
    margin-bottom: 8px;
    font-size: 15px;
  }
  .subscribe-section .subscribe-content h2 {
    font-size: 25px;
  }
  .subscribe-section .newsletter-form button {
    position: relative;
    margin-top: 0;
  }
  .single-portfolio-box .portfolio-hover-content {
    padding: 25px 20px;
  }
  .single-portfolio-box .portfolio-image img {
    width: 100%;
  }
  .faq-image {
    text-align: center;
    margin-top: 40px;
  }
  .client-image {
    text-align: center;
  }
  .contact-box {
    margin-bottom: 30px;
  }
  .contact-text {
    margin-top: 0;
  }
  .services-details-overview {
    margin-bottom: 0;
  }
  .services-details-overview .services-details-desc h3 {
    font-size: 20px;
  }
  .services-details-image img {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .projects-details-desc .project-details-info .single-info-box {
    padding-left: 6px;
    padding-right: 0;
  }
  .team-page-section {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .product-details-desc h3 {
    margin-top: 30px;
  }
  .order-details .title {
    font-size: 20px;
    margin-top: 30px;
  }
  .partner-area {
    background-color: #f1f1f1ad;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-banner-content h1 {
    font-size: 50px;
    margin: 0 0 14px 0;
  }
  .main-banner-content .banner-btn {
    margin-top: 30px;
  }
  .features-content-area h3 {
    font-size: 30px;
    margin: 10px 0 26px 0;
  }
  .single-features-item {
    padding: 25px 20px;
  }
  .single-features-item h3 {
    font-size: 18px;
  }
  .about-area-content h3 {
    font-size: 30px;
    margin: 10px 0 20px 0;
  }
  .about-area-content strong {
    font-size: 16px;
  }
  .single-fun-facts {
    margin-top: 25px;
  }
  .single-fun-facts h3 {
    font-size: 28px;
  }
  .single-fun-facts h3 .sign-icon {
    font-size: 28px;
  }
  .single-services-box h3 {
    font-size: 18px;
  }
  .choose-content-area h3 {
    font-size: 30px;
    margin: 10px 0 26px 0;
    max-width: 100%;
  }
  .choose-content-area .choose-btn {
    margin-top: 30px;
  }
  .boosting-list-tab .tabs li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 48%;
    max-width: 15%;
    padding-top: 10px;
  }
  .boosting-list-tab .tabs li a {
    font-size: 15px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  .boosting-list-tab .tabs li a span {
    display: block;
    margin-top: 10px;
    font-size: 13px;
  }
  .boosting-list-tab .tabs li a i {
    font-size: 30px;
  }
  .boosting-list-tab .tabs li.bg-eff7e9 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-fff8f0 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-ecfaf7 {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-f2f0fb {
    background: unset;
  }
  .boosting-list-tab .tabs li.bg-c5ebf9 {
    background: unset;
  }
  .boosting-list-tab .tab_content .tabs_item .content h2 {
    margin: 0 0 10px 0;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-text-content {
    margin-top: 25px;
    padding-left: 45px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-text-content i::before {
    font-size: 30px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-shape {
    width: 110px;
  }
  .boosting-list-tab .tab_content .tabs_item .tab-btn {
    margin-top: 20px;
  }
  .single-project-box .project-hover-content {
    padding: 24px 25px;
  }
  .testimonial-content-area h3 {
    font-size: 30px;
    margin: 10px 0 20px 0;
    padding-bottom: 16px;
  }
  .analysis-area-content h3 {
    font-size: 30px;
    margin: 10px 0 20px 0;
    padding-bottom: 16px;
  }
  .blog-item .single-blog-item .blog-content h3 {
    font-size: 18px;
  }
  .footer-item-area .footer-heading h3 {
    font-size: 16px;
  }
  .footer-item-area .footer-quick-links li {
    font-size: 15px;
  }
  .home-banner-two .main-banner-content h1 {
    font-size: 50px;
  }
  .sidebar-modal .sidebar-modal-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home-banner-two .banner-img-wrapper .banner-img-1 {
    top: 100px;
    width: 350px;
  }
  .home-banner-two .banner-img-wrapper .banner-img-2 {
    top: 100px;
    width: 350px;
  }
  .features-area .single-features-item {
    padding: 30px 16px;
  }
  .features-area .single-features-item h3 {
    font-size: 16px;
    margin: 16px 0 6px 0;
  }
  .single-portfolio-box .portfolio-hover-content {
    padding: 25px 20px;
  }
  .contact-box .content p {
    margin-bottom: 4px;
    font-size: 15px;
  }
  .tab-content .tabs-item .single-pricing-box.bg-ed0678 .pricing-features {
    padding-left: 0;
  }
  .tab-content .tabs-item .single-pricing-box.bg-edfbf8 .pricing-features {
    padding-left: 0;
  }
  .tab-content .tabs-item .single-pricing-box.bg-f6f5fb .pricing-features {
    padding-left: 0;
  }
  .main-banner .banner-image img:nth-child(14) {
    left: 0;
  }
  .main-banner .banner-image img:nth-child(13) {
    left: 33%;
  }
  .main-banner .banner-image img:nth-child(5) {
    left: 10%;
  }
  .main-banner .banner-image img:nth-child(9) {
    left: 50px;
  }
  .client-slides .testimonial-single-item .testimonial-content-text .icon {
    margin-bottom: 20px;
  }
  .section-title h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1800px) {
  .main-banner {
    height: 900px;
  }
  .main-banner .banner-image {
    position: relative;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=responsive.css.map */