@charset "utf-8";
/* CSS Document */

.linkContato{
	font-size: 16px;
    color: #e0dbdb;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.page-title-content h2 {
    margin-bottom: 0;
    color: #025959;
    font-size: 42px;
    font-weight: 700;
}

.page-title-content ul li a {
    display: inline-block;
    color: #024873;
}

.page-title-content ul li {
    color: #024873;
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-section {
    padding-top: 100px;
}

.crimso-nav .navbar .others-options .burger-menu span {
    background: #027368;
}
p, ul {
    color: #8E9EBF;
}
.services-details-overview .services-details-desc h3 {
    font-size: 38px;
    color: #024873;
    font-weight: bold;
    margin: 10px 0 25px 0;
    position: relative;
    padding-bottom: 25px;
}
.services-details-overview .services-details-desc h3::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    background-color: #024873;
    bottom: 0;
    left: 0;
}
.services-details-overview .services-details-desc h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 32px;
    background-color: #027368;
    bottom: 0;
    margin: 0 auto 0;
    left: 95px;
}

.fone{
	color: #FFFFFF;
}
.frasePg{
	text-align: center;
}

.page-title-content ul{
	text-align: center;
}

@media only screen and (max-width: 991px){
	
	.crimso-responsive-nav .logo {
		width: 15%;
		padding-top: 5px;
	}	
}

@media only screen and (max-width: 767px){
	.navbar-area {
    	padding-top: 0px;
    	padding-bottom: 25px;
	}
	.mean-container a.meanmenu-reveal {
    	padding-top: 25px;
	
	}
	
	.mean-container .mean-nav {
		margin-top: 79px;
	}
	
	.banner-bg-text {
		font-size: 72px;
		bottom: 11px;
	}
	
	p{
		text-align: justify;
	}
	
	.about-section {
		padding-top: 50px;
	}	
	
	.ptb-100 {
		text-align: center;
	}
	
	/* SOBRE */
	.page-title-content h2 {
    	font-size: 30px;
    	padding-top: 36px;
	}
	
	.services-details-overview .services-details-desc .services-details-accordion .accordion {
		text-align: left;
	}
	
	
	.copyright-area p{
		text-align: center!important;
	}
	.services-details-desc ul{
		text-align: justify;
	}
}


.regioes h2{
	font-size: 3em!important;
	color: #024959;
    text-align: center;
}
.regioes p{
	text-align: center;
}
.regioes .banner-form h2{
	color: #25d366;
}
.regioes textarea{
	height: 113px!important;
	resize: none;
}
.regioesAtendidas {
   max-width: 100%!important;
}
.regioesAtendidas h3 {
    font-size: 2em!important;
    color: #024873;
    font-weight: bold;
    margin: 10px 0 0 0;
    position: relative;
    padding-bottom: 20px;
}
.regioesAtendidas h4 {
    font-size: 1em!important;
    color: #024873;
    font-weight: bold;
    margin: 10px 0 0 0;
    position: relative;
    padding-bottom: 20px;
}
.regiaoDepo{
	margin-top: 2%;
}

.regiaoDepoIcon{
	color: #25d366!important;
}
.regiao{
	font-size: 160px;
    color: #f9f8fc;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30%;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.mapOeste{padding-bottom: 25.5%!important;}
.mapLeste{}
.mapSul{padding-bottom: 18%!important;}
.mapNorte{padding-bottom: 34%!important;}
.mapCentro{padding-bottom: 51%!important;}


#html-canvas > span {
    transition: text-shadow 1s ease, opacity 1s ease;
    -webkit-transition: text-shadow 1s ease, opacity 1s ease;
    -ms-transition: text-shadow 1s ease, opacity 1s ease;
}
#html-canvas > span:hover {
    text-shadow: 0 0 10px, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    opacity: 0.5;
}
#loading {
    animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;
}
@-webkit-keyframes blink {
	0% {
	opacity: 1;
	}
	100% {
	opacity: 0;
	}
	}
	@keyframes blink {
	0% {
	opacity: 1;
	}
	100% {
	opacity: 0;
	}
}
.palavras{
	overflow: hidden;
	height: 600px;
	padding-top: 0px;
	
}
.features-area {
    padding-bottom: 20px;
}

.services-section {
   
    background: rgb(2, 89, 89);
    background: -webkit-linear-gradient(bottom, rgba(2,72,115,1) 0%, rgba(2,115,104,0.4) 51%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(bottom, rgba(2,72,115,1) 0%, rgba(2,115,104,0.4) 51%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to top, rgb(255 255 255) 0, rgba(2,115,104,0.4) 50%, rgba(255,255,255,0) 100%);

}

@media only screen and (max-width: 1024px){
	.palavras {
		height: 316px;
	}
}

@media only screen and (max-width: 767px){
	.palavras {
		height: 237px;
	}	
}

@media only screen and (max-width: 767px){
	.palavras {
		height: 113px;
	}	
}

.whatsTitulo{
	font-size: 1.2em;
    color: #025959;
}
