    /*
    Flaticon icon font: Flaticon
    Creation date: 10/04/2020 01:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-play-video-signal:before { content: "\f100"; }
.flaticon-seo-strategy:before { content: "\f101"; }
.flaticon-responsive-marketing:before { content: "\f102"; }
.flaticon-seo-performance:before { content: "\f103"; }
.flaticon-game-developing:before { content: "\f104"; }
.flaticon-web-design:before { content: "\f105"; }
.flaticon-monitoring-system:before { content: "\f106"; }
    
    $font-Flaticon-play-video-signal: "\f100";
    $font-Flaticon-seo-strategy: "\f101";
    $font-Flaticon-responsive-marketing: "\f102";
    $font-Flaticon-seo-performance: "\f103";
    $font-Flaticon-game-developing: "\f104";
    $font-Flaticon-web-design: "\f105";
    $font-Flaticon-monitoring-system: "\f106";